html,body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	height:100%;
	width: 100%;
	
}


#page {
	width: 100%;
	height: 100%;
}

#desc {
	font-family: 'Rubik', sans-serif;
	position: relative;
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



#img-logo {
	float: left;
	height: 65px;
	width: 70px;
	padding-left: 9%;
}


#logo {
	width: 100%;
	height: 100px;
	padding-top: 50px;
	padding-bottom: 150px;
	
}

#desc h1 {
	width: 60%;
	font-size: 45px;
	font-weight: 400;

}

#geo {
	position: absolute;
	right: 0;
	width: 30%;
	padding-right: 5%;
	top: 0;
    bottom: 0;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
}	

.text {
	padding-left: 10%;
}	

#fake {
	line-height: 0;
	padding-bottom: 75px;
	font-size: 18px;
	color: rgba(0,0,0,.6);
}

#title {
	line-height: 1.25;
}

#desc p {
	width: 50%;
	
}

#me {
	color: #33A5FF;
	font-size: 20px;
	line-height: 1.6;
}

.bigger {
	font-size: 170%;
	font-weight: bold;
	color: #e7040f;
}

#cool-stuff {
	font-size: 20px;
	line-height: 1.5;
	padding-bottom: 50px;
}

#menu  {
	border-bottom: 1px solid #33A5FF;
	padding-bottom: 15px;
	margin-left: 10%;
	
}

#contact {
	color: #33A5FF;
	padding-right: 35px;
	font-size: 30px;
}

#proj {
	color: #33A5FF;
	font-size: 30px;
}

#contact:hover {
	color: #e7040f;
	cursor: pointer;
}	

#proj:hover {
	color: #e7040f;
	cursor: pointer;
}

#contact-page {
	display: none;
	width: 100%;
	height: 100%;
}


.img-bounce {
	position: absolute;
	width:40px;
	height: 40px;
	padding-bottom: 50px;
	bottom: 0;

}	

#back-bounce:hover {
	cursor: pointer;
}

.arrow-bounce {
	text-align: center;
}


#project-page {
	display: none;
	width: 100%;
	height: 100%;
}