html,body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	height:100%;
	width: 100%;
	
}

#home-page {
	display:block;
}


#page {
	width: 100%;
	height: 100%;
}

#desc {
	font-family: 'Rubik', sans-serif;
	position: relative;
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



#img-logo {
	float: left;
	height: 65px;
	width: 70px;
	padding-left: 9%;
}


#logo {
	width: 100%;
	padding-top: 50px;
	margin-bottom: 150px;
	
}

#desc h1 {
	width: 60%;
	font-size: 45px;
	font-weight: 400;

}

#geo {
	position: absolute;
	right: 0;
	width: 30%;
	padding-right: 5%;
	top: 0;
    bottom: 0;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
}	

.text {
	padding-left: 10%;
}	

#fake {
	margin-bottom: 75px;
	font-size: 25px;
	color: rgba(0,0,0,.6);
}

#title {
	line-height: 1.25;
}

#desc p {
	width: 50%;
	
}

#me {
	color: #33A5FF;
	font-size: 20px;
	line-height: 1.6;
}

.bigger {
	font-size: 170%;
	font-weight: bold;
	color: #e7040f;
}

#cool-stuff {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 100px;
}

#menu  {
	border-bottom: 1px solid #33A5FF;
	margin-bottom: 15px;
	margin-left: 10%;
	
}

#contact {
	color: #33A5FF;
	padding-right: 35px;
	font-size: 30px;
}

#proj {
	color: #33A5FF;
	font-size: 30px;
}

#contact:hover {
	color: #e7040f;
	cursor: pointer;
}	

#proj:hover {
	color: #e7040f;
	cursor: pointer;
}

#contact-page {
	display: none;
	width: 100%;
	height: 100%;
}


.img-bounce {
	position: absolute;
	width:40px;
	height: 40px;
	margin-bottom: 50px;
	bottom: 0;

}	

.img-bounce:hover {
	cursor: pointer;
}

.arrow-bounce {
	text-align: center;
}


#project-page {
	display: none;
	width: 100%;
	height: 100%;
	font-family: 'Rubik', sans-serif;

}

#contact-page h1 {
	font-family: 'Rubik', sans-serif;	
	height: 200px;
    width: 100%;
	position: fixed;
    top: 25%;
    text-align: center;
    font-size: 65px;
    font-weight: 400;
    margin-left: 15px;
}

#contact-photos {
	display: inline-block;
    width: 100%;
    position: fixed;
    top: 50%;
    text-align: center;
    margin-left: 15px;
}
.c-img {
	height: 75px;
	width: 75px;
 	-webkit-filter: drop-shadow(0px 5px 5px #222);
    filter:         drop-shadow(0px 5px 5px #222); 
    margin-left: 75px;
    margin-right: 75px;

}

#linked-in, #gmail, #github, #resume {
	display: none;
}

#linked-in:hover, #gmail:hover, #github:hover, #resume:hover {
	-webkit-filter: drop-shadow(0px 15px 15px #222);
    filter:         drop-shadow(0px 15px 15px #222); 
    cursor: pointer;
}	

#resume {
	-webkit-filter: drop-shadow(0px 3px 3px #222); 
    filter:         drop-shadow(0px 3px 3px #222); 
    height: 85px;
    width: 85px;
}

#contact-title {
	display:none;
}


a {
	text-decoration: none;
}


#project-page h1 {
	font-family: 'Rubik', sans-serif;	
	width: 85%;
	font-size: 50px;
	color: rgba(0,0,0,0.6);
    font-weight: 400;
    margin-left: 10%;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    padding-bottom: 15px;
}


#project-cards {
	height: 70%;
	width: 100%;
	border: 1px black;
	text-align: center;
	padding-top: 5%;
	padding-left: 50px;
	display:none;
	

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    width: 20%;
   	display: inline-block;
   	margin-left: 15px;
   	margin-right: 15px;
   	vertical-align: top;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    
}

.card img:hover {
	cursor: pointer;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.card img {
	height: 100%;
}

#project-page p {
	color: rgba(0,0,0,0.6);

}

#source-code {
	font-size: 25px;
	margin-left: 10%;
	color: #33A5FF !important;
}

#proj-bounce {
	display: none;
}


#comic-strips {
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
}

#calvin-hobbes {
	width: 75%;
	height: 75%;
	padding-top: 50px;
}

#easter-egg-penguin {
	text-align: center;
	width: 100%;
	height: 100%;
	display: none;
	background-color:#CBDBFD; 
}

#easter-egg:hover {
	cursor: pointer;
	color: #33A5FF;;
}

.pengu {
	top: 20%;
	position: relative;
}


/* 
ADD OVERFLOW-Y HIDDEN FOR DESKTOP
*/

/***
VIEWPORT SMALLER WIDTH THAN 1550px (labtops)

***/
@media screen and (max-width: 1550px) {
	#logo {
		padding-top: 25px;
		margin-bottom: 125px;
	}

	#desc h1 {
		font-size: 35px;
	}

	#me {
		width: 60% !important;
	}

	#cool-stuff {
		margin-bottom: 75px;
	}

	#project-cards {
		padding-top: 3%
	}
}


/*
	Tablets
*/
@media screen and (max-width: 1100px) {
	#logo {
		padding-top: 25px;
		margin-bottom: 100px;
	}

	#desc h1 {
		font-size: 30px;
	}

	#me {
		width: 60% !important;
		font-size: 18px;
	}

	#cool-stuff {
		margin-bottom: 50px;
		font-size: 18px;
	}

	#project-cards {
		padding-top: 1%
	}

	#fake {
		margin-bottom: 50px;
	}

}

/*

	Phones

*/
@media screen and (max-width: 500px) {
	#geo {
		display: none;
	}

	#desc h1 {
		font-size: 22px;
		width: 95%;
	}

	#me, #cool-stuff, #fake {
		width: 95% !important;
		font-size: 15px;
	}
	
	#fake {
		margin-bottom: 25px;
		width: 95%;
	}

	#contact, #proj {
		font-size: 22px !important;
	}

	#contact-page h1 {
		font-size: 30px;
		height: 50px;
		margin-left: 10px !important;
	}

	.c-img {
		margin-left: 15px;
		margin-right: 15px;
		width: 40px;
		height: 40px;
	}

	#resume {
		width: 40px;
		height: 40px;
	}

	#contact-photos {
		margin-left: 10px;
	}

	.img-bounce {
		right: 45% !important;
		margin-bottom: 100px;
	}

	#project-cards {
		padding-left: 0px;
		margin-left: 5%;
		width: 92%;
	}	

	.card {
		display: block;
		width: 90%;
		margin-bottom: 25px;
	}

	#proj-header {
		width:90%;
	}

	#proj-bounce-bottom {
		display: none;
	}

	#proj-bounce {
		position: relative;
		padding-bottom: 15px;
		left: 15px;
		width: 30px;
		height: 30px;
		display: block;
		margin: 0 auto;
	}

	#project-page h1 {
		font-size: 25px;
	}

	#source-code {
		font-size: 15px;
	}

}

/*

Small phones, ie. Galaxy S5, Iphone 5.

*/	

@media screen and (max-width: 400px) {
	#geo {
		display: none;
	}

	#desc h1 {
		font-size: 20px;
		width: 95%;
	}

	#me, #cool-stuff, #fake {
		width: 95% !important;
		font-size: 13px;
	}
	
	#fake {
		margin-bottom: 15px;
		width: 95%;
	}

	#menu {
		width: 80% !important;
	}

	#contact, #proj {
		font-size: 17px !important;
	}



}

/*
Snow Animations 

*/

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	